body {
  background-color: white;
}

h1 {
  color: black;
}

h2{
  color: rgb(1, 1, 170);
  font-size: 40px;
}

p {
  color: white;
  background-color: rgb(1, 1, 170);
  font-size: 18px;
}

a {
  color: white;
}

li {
  color: black;
  font-size: 20px;
}

.title {
  padding: 30px 80px;
}

.navigation{
  padding: 10px 25px;
  background-color: black;
}

img {
  height: 400px;
  width: 450px;
}